/* src/Public/css/Index.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #6d6b03;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

button {
    background-color: #E98312;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #E98312;
}
.btn {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #E98312; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    font-size: 16px; 
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #004610; 
}
.pagination {
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #E98312;
}

.pagination span {
    margin: 0 
}
.search-container {
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    margin-bottom: 20px; /* Espacio debajo del formulario de búsqueda */
  }
  
  .search-form {
    display: flex; /* Usar flexbox para alinear los elementos dentro del formulario */
  }
  
  .search-form input[type="text"] {
    margin-right: 10px; /* Espacio entre los campos de entrada */
    padding: 5px; /* Espaciado interno */
  }
  
  .search-form button {
    padding: 5px 10px; /* Espaciado interno para el botón */
  }