table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #6d6b03;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 5px; 
    display: inline-block; 
    font-size: 14px; 
}

.modificar {
    background-color: #28a745; 
}

.eliminar {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.8; 
}