/* Practicas/Compras/src/Public/css/Style1.css */
body {
  padding-top: 120px; /* Ajustar el padding para que el contenido no se superponga al header y nav */  
}

header {
  position: fixed; /* Mantener el header fijo */
  top: 0; /* Posición en la parte superior */
  left: 0; /* Alinear a la izquierda */
  right: 0; /* Alinear a la derecha */
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}


.header-right {
  padding: 0.4rem 7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Mantener el nav fijo */
  top: 70px; /* Ajustar según la altura del header */
  left: 0; /* Alinear a la izquierda */
  right: 0; /* Alinear a la derecha */
  z-index: 999; /* Asegurarse de que esté por encima de otros elementos */
}

.header-title {
  display: flex; /* Usar flexbox para alinear h2 y ul en fila */
  align-items: center; /* Alinear verticalmente al centro */
  gap: 0.5rem; /* Espacio entre h2 y ul */
}

.header-title h2 {
  color: #d9e4e3;
  white-space: nowrap;
  margin: 0 400px 0 0;
  padding:0 0px 0 10px;
}

.header-right ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5px;
  margin: 0;
  padding: 0;
}

ul.sugerencias-proveedor {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  padding-left: 0;
  margin-top: 2px;
  list-style-type: none;
  z-index: 9999;
  font-size: 0.9em;
  cursor: pointer;
}
ul.sugerencias-proveedor li {
  padding: 6px 10px;
}
ul.sugerencias-proveedor li:hover {
  background-color: #ddd;
}

.news-section {
  background-color: #e9f5f5; /* Color de fondo suave */
  border: 2px solid #004640; /* Borde del mismo color que el tema */
  border-radius: 8px; /* Bordes redondeados */
  padding: 1rem; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado inferior */
}

.news-section h2 {
  color: #004640; /* Color del título */
  margin-bottom: 1rem; /* Espaciado inferior del título */
}

.news-section ul {
  list-style-type: none; /* Sin viñetas */
}

.news-section li {
  margin-bottom: 0.5rem; /* Espaciado entre los elementos de la lista */
}

.news-section li a {
  color: #004640; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}