<!-- src/views/usuarios/crearu.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crear Usuario</title>
  <link rel="stylesheet" href="/css/Style.css">
  <link rel="stylesheet" href="/css/crearu.css">
</head>
<body>
  <header>
    <div class="header-left">
      <img src="/images/logo.png" alt="Logo Caja Nacional de Salud" />
      <div class="header-text">
        <h1>CAJA NACIONAL DE SALUD</h1>
        <h2>DISTRITAL TUPIZA</h2>
      </div>
    </div>
  </header>
  <nav class="header-right">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li class="coltext">Usuarios
        <ul>
          <li><a href="/usuarios">Lista de Usuarios</a></li>
          <li><a href="/usuarios/crear">Registrar Usuario</a></li>
        </ul>
      </li>
      <li class="coltext">Compras
        <ul>
          <li><a href="/compras">Lista de Compras</a></li>
          <li><a href="/compras/crear">Registrar Compra</a></li>
        </ul>
      </li>
      <li>
        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Cerrar Sesión</a>
      </li>
    </ul>
    <form id="logout-form" action="/auth/logout" method="POST" style="display: none;">
     
    </form>
  </nav>
  <h1>Crear Usuario</h1>
  <form action="/usuarios/crear" method="POST">
    <label for="correo">Correo:</label>
    <input type="email" name="correo" id="correo" required />
    <br />
    <label for="contraseña">Contraseña:</label>
    <input type="password" name="contraseña" id="contraseña" required />
    <br />
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required />
    <br />
    <label for="nusuario">Usuario:</label>
    <input type="text" name="nusuario" id="nusuario" required />
    <br />
    <label for="rol">Rol:</label>
    <input type="text" name="rol" id="rol" required />
    <br />
    <div class="button-container">
      <button type="submit">Crear</button>
      <button type="button" class="btn-Volver" onclick="window.location.href='/usuarios'">Retornar</button>
    </div>
  </form>
  
  <footer>
    &copy; 2025 Caja Nacional de Salud - Todos los derechos reservados
  </footer>
</body>
</html>
