<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/creatEdit.css">
</head>
<body>
    <h1>Crear Nuevo Cliente</h1>
    <form action="/Cliente" method="POST">
        <label>CI: <input type="number" name="ci" required></label>
        <label>Nombres: <input type="text" name="nombres" required></label>
        <label>Apellidos: <input type="text" name="apellidos" required></label>
        <label>Celular: <input type="number" name="celular" required></label>
        <label>Correo: <input type="email" name="correo"></label>
        <div class="button-container">
            <button class="boton" type="submit">Crear</button>
            <a href="/" class="boton">Cancelar</a>
        </div>    
    </form>
</body>
</html>