<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
</head>
<body>
    <h1>Crear Nuevo Cliente</h1>
    <form action="/users" method="POST">
        <label>CI: <input type="number" name="ci" required></label><br>
        <label>Nombres: <input type="text" name="nombres" required></label><br>
        <label>Apellidos: <input type="text" name="apellidos" required></label><br>
        <label>Celular: <input type="number" name="celular" required></label><br>
        <label>Correo: <input type="email" name="correo" ></label><br>
        <button type="submit">Crear</button>
    </form>
    <a href="/">Regresar</a>
</body>
</html>