/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #004640;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* Estilos de los botones */
button {
    background-color: #E98312;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #E98312;
}
.btn {
    display: inline-block; /* Para que el enlace se comporte como un botón */
    padding: 10px 20px; /* Espaciado interno */
    background-color: #E98312; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    border: none; /* Sin borde */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn:hover {
    background-color: #004610; /* Color de fondo al pasar el mouse */
}
.pagination {
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #E98312;
}

.pagination span {
    margin: 0 
}